*{
  font-family: 'Poppins', sans-serif;
}

/*toggle*/

/*head*/
.all-header{
    background-image: url('./photo/background-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 650px;
    overflow: hidden;
  }
.all-header .container .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.all-header .container  .navbar ul{
  list-style: none;
 
}
.all-header .container  .navbar ul li{
  position: relative;
  float: left;
}
.all-header .container .navbar ul li a , .logo{
  font-size: 14px;
  padding: 20px;
  color: rgb(189, 194, 194);
  display: block;
  
}

.all-header .container .navbar ul li a:hover {
  color: white;
}
#menu-bar{
  display: none !important;
}
.navbar label{
  display: none ;
}

@media (max-width: 767px){
  .navbar {
    display: flex;
    flex-direction: column;

  }
  .navbar label{
    display: initial;
  } 
  .all-header .container .navbar ul{
    position: relative;
    top: 100%; left:0; right:0;
    background-color: #0a1525da;
    display: none ;
    width: 100%;
  }
  .all-header .container .navbar ul li{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #060d18;
  }
  .all-header .container .navbar ul li a{
    color:white;
  }
  

  #menu-bar:checked ~ ul{
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  #menu-bar:checked  ~ div{
    background-color: #060d18;
  } 
  
}

  .white-space{
    height: 135px;
  }
  @media (max-width: 767px){
  .white-space {
    height: 35px;
}
}
.title{
  font-size: xx-large;
  min-width: min-content;
  letter-spacing: 2px;
  
}
.description{
  font-size: medium;
  padding: 20px 0;
  min-width: fit-content;
}

/*advice component*/
.all-advice{
  height: 325px;
  background: url('./photo/advice.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.all-advice h4{
  padding-top: 80px;
}
.all-advice p{
  padding-top: 20px;
  padding-bottom: 35px;
}
.all-advice a{
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-style: normal;
 padding: 20px;
 background-color: #172a49;
 border: none;
 border-radius: 30px;
 color: white;
  
}
.all-advice a:hover{
  font-size: medium;
  background-color: white;
  color: #28416a
}
.all-advice a:active{
  font-size: medium;
  background-color: white;
  color: #28416a
}

/**whyus*/
.all-services{
  
  background: url('./photo/services-background.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 30px;
}
.all-services h6{
  padding: 30px;
}
.icon{
  font-size: 70px;
  color: #28416a;
  width:100%;
}
.content{
  padding: 20px;
  justify-content: space-between;
}
.field{
  padding: 10px;
  width: 400px;
  flex-direction: row;
  text-align: left;  
}

@media (max-width:767px){
  .field{
    flex-direction: column;
    text-align: center;
  }
  .content{
    justify-content: center;
  }
}
.title{
  color:#172a49;
}

.dropdown-menu{
  width: 100%;
  margin-left: -100px;
}